.main {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.body {
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}
/* TABLE STYLES */
.wrapper {
	padding: 2rem;
	font-family: Arial, sans-serif;
}
.custom_table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}
.custom_table th,
.custom_table td {
	padding: 14px 20px;
	border: 1px solid #ddd;
	text-align: left;
}
.custom_table th {
	background-color: #f0f0f0;
	font-weight: bold;
}
.custom_table tr:hover {
	background-color: #f9f9f9;
}
